{if isset($show)}

<div class="element-comments">
<h2>Comments</h2>

{control form}

<ol>
{foreach $items as $item}
	<li>
		<h3>{$item->author} <small>| {$item->created->format('Y-m-d')}{* | <a n:href="delete $item->id">delete</a>*}</small></h3>
		<p>
			{$item->text}
		</p>
	</li>
{/foreach}
</ol>

</div>

{/if}